:root{
  --cor-primaria: #7B2CBF;
}

body{
  font-size: 1.2rem;
}

.status-bar{
  width: 100vw;
  height: 5.87vh;
}

i{
  display: block;
  font-size: 2rem;
  color: var(--cor-primaria);
}

section{
  margin: 0 16px;
}

button{
  display: block;
  padding: 16px 24px;
  font-size: 2rem;
  margin: 16px;
  width: 345px;
  height: 120px;
  justify-self: center;
  background-color: #fff;
  border-radius: 16px;
  color: var(--cor-primaria);
  border: none;
  font-family: "Jura", sans-serif;
  border: 1px solid lightgray;
  transition: all ease 200ms;
}

button:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: none;
}